<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>
  <form action="/" method="get">
    <button class="btn btn-success" type="submit">Go Back</button>
  </form>

<%- include("partials/footer"); -%>
